
@{
    ViewData["Title"] = "Creditos";
}

<h1>Probando Creditos</h1>

<div class="card" style="width: 18rem;">
    <img src="https://www.digital55.com/wp-content/uploads/2020/02/construir-un-tema-basico-con-angular-material.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Seguidor del Sol</h5>
        <p class="card-text">Aqui hay un breve ejemplo de como se realizaria el aplicativo web que controlara el panel solar</p>
        <a href="#" class="btn btn-primary">Ver Mas?</a>
    </div>
</div>

