
@{
    ViewData["Title"] = "Creditos";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h1>Probando Creditos</h1>
<img src="https://miro.medium.com/max/3600/1*HSisLuifMO6KbLfPOKtLow.jpeg" class="rounded float-start" alt="...">
<img src="https://miro.medium.com/max/3840/1*goSuHxAHqRR8alv_h_3nCw.png" class="rounded float-end" alt="...">

<div class="card" style="width: 18rem;">
    <img src="https://userscontent2.emaze.com/images/41177c5d-7efc-49a9-9df3-48770685f135/bc5f2054b33476aa88adbd8420e2a905.gif" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Seguidor del Sol</h5>
        <p class="card-text">Aqui hay un breve ejemplo de como se realizaria el aplicativo web que controlara el panel solar</p>
        <a href="#" class="btn btn-primary">Ver Mas?</a>
    </div>
</div>


<div style="align-content:start;">
    <p style="text-align: right;">Center aligned text on all viewport sizes.</p>

</div>


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - WebCreditosDeber - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>