
@{
    ViewData["Title"] = "Creditos";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h1>Probando Creditos</h1>

<div class="card" style="width: 18rem;">
    <img src="https://www.digital55.com/wp-content/uploads/2020/02/construir-un-tema-basico-con-angular-material.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Seguidor del Sol</h5>
        <p class="card-text">Aqui hay un breve ejemplo de como se realizaria el aplicativo web que controlara el panel solar</p>
        <a href="#" class="btn btn-primary">Ver Mas?</a>
    </div>
</div>


<div style="align-content:start;">
    <p style="text-align: right;">Center aligned text on all viewport sizes.</p>

</div>


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - WebCreditosDeber - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>